# Dependencies
node_modules
node_modules/**/*

# Logs
logs


# Temporary caches
*.tsbuildinfo
data

# Environment variables/secrets
*.env

# Build / Generated output
dist

# Temporary/dev-test locations
legacy
temp

personalTips.txts
personalTips
todo
todo.txt
# Misc file types that we don't want to lint
**/*.css
**/*.txt

# Specific to this project