# Dependencies
node_modules

# Logs and dev output
logs
routeTypes

# Temporary caches
*.tsbuildinfo
caches
cache
lerna-debug.log
zig-cache
Cargo.lock
bun.lockb

# Environment variables/secrets
.env
.env.development
.env.production
.env.test
.envrc

# Build / Generated output
build
dist
out
output
lib
zig-out

serverOutput
coverage

data
.next

# Temporary/dev locations
legacy
temp
tmp
debug

todo
todo.txt

backup

volume
volumes


# Python specific
__pycache__
.venv

# Model caches
model_cache/
**/model_cache/**
whisper-openai-exp/
feature_cache

# Questionable
package-lock.json
bun.lock
